:root{
--text-left-1: 50px;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }

  /* style the three.js container however your want */
  #container {
    position: fixed;
    background-color: black;
    height: 100%;
    width: 100%;
  }

  #aboutPage {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    margin-top: 0px;
  }

  #aboutText{
    color: white;
    background-color: black;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Roboto', sans-serif;
  }

  /* removes outline when clicking on three.js canvas */
  canvas:focus {
    outline: none;
  }

  /* the style of the progress text */
  #progress {
    position: absolute;
    top: 0;
    margin: 6px;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 2000;
  }

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    z-index: 1000;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: grey;
    color: white;
  }

  .sidepanel{
    z-index: 10;
    position: fixed;
    text-align: left;
    width: 300px;
    height: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: inherit;
  }

  #sidepanelBackground{
    background-color: #101010;
    opacity: 40%;
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .mapView{
    z-index: 15;
    opacity: 100%;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    

  }

  #blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  #instructions {
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }

